/** CSS STYLE **/

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-color-hover: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/static/OpenSans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

.main-color-text {
  color: var(--main-color);
}

* {
  margin: 0;

  padding: 0;
}

body {
  color: var(--dark);

  font: 400 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.background-pattern {
  position: relative;

  overflow: hidden;
}

.background-pattern::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

header {
  background-color: var(--light);
}

.header-content {
  position: relative;
}

.header-content h1 {
  position: relative;
  z-index: 10;
}

.header-img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header-text-container {
  display: flex;
  gap: 30px;
  justify-content: center;

  margin-top: 200px;
}

.header-text {
  width: 540px;
}

.header-link {
  display: inline-block;

  margin-top: 40px;

  padding: 12px 24px;

  color: var(--white);

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--main-color);
}

.header-link:hover {
  background: var(--main-color-hover);
}

.video-section {
  background: var(--white);
}

.video-section-content {
  text-align: center;
}

.video-section-text {
  margin-top: 30px;
  margin-bottom: -170px;
}

.video {
  position: relative;
  bottom: -200px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

nav {
  background: var(--main-dark);
}

.nav-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;

  padding-top: 200px;
}

.card,
.nav-card {
  box-sizing: border-box;
  width: 350px;
}

.card {
  color: var(--white);

  font-size: 52px;
}

.nav-card {
  display: block;

  padding: 24px;

  color: var(--dark);

  text-decoration: none;

  background: var(--white);
}

.nav-card:hover {
  color: var(--white);

  background: var(--main-color);
}

.nav-card-num {
  margin-bottom: 40px;

  color: var(--main-dark);

  font-size: 64px;
  font-family: Neucha, sans-serif;
  line-height: 1;
}

.nav-card:hover .nav-card-num {
  color: var(--white);
}

.nav-card-h3 {
  color: var(--main-color);
}

.nav-card:hover .nav-card-h3 {
  color: var(--white);
}

.nav-card-text {
  margin-top: 16px;
}

.distortion-grey {
  background-color: var(--light);
}

.distortion-brown {
  background-color: var(--brown);
}

.lead {
  display: flex;
  gap: 30px;
}

.distortion-brown .lead {
  flex-direction: row-reverse;
}

.lead-img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.lead-img img {
  vertical-align: middle;
}

.lead-caption {
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.distortion-grey .lead-caption {
  color: var(--transparent-dark);
}

.distortion-brown .lead-caption {
  color: var(--transparent-white);
}

.lead-text {
  margin-top: 30px;

  font-weight: normal;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.how-manifests {
  margin-top: 100px;
  margin-bottom: 20px;

  padding-left: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.distortion-grey .how-manifests {
  color: var(--white);

  background: var(--brown);
}

.distortion-brown .how-manifests {
  color: var(--brown);

  background: var(--white);
}

.desc {
  display: flex;
  gap: 30px;
}

.desc-text {
  width: 50%;
}

.desc-text p:first-child {
  margin-bottom: 1em;
}

.distortion-brown .lead,
.distortion-brown .desc {
  color: var(--white);
}
