/** CSS STYLE **/

:root {
  --white: #fff;
  --transparent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --transparent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/static/OpenSans/OpenSans-Medium.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha-Regular.ttf);
}

body {
  font: 400 16px/1.6em "Open Sans";

  color: var(--dark);
}

h1,
h2,
h3 {
  font-family: Neucha;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}
